.card.preview {
  margin-top: 40px;
}

.navbar {
  padding: 1rem 0;
}

#app .column,
#voting .column {
  margin: 0 auto;
}

.meta span:first-child {
  display: block;
}

.meta span:last-child {
  color: #8d8d8d;
  font-size: 13px;
}

[v-cloak] {
  display: none;
}

.disabled {
  pointer-events: none;
}

.img-responsive {
  width: 100%;
}

.tile {
  border: .05rem solid #dadee4;
  border-radius: .1rem;
  margin-bottom: 1rem;
}

.tile img {
  vertical-align: middle;
}

.votes-container {
  margin-bottom: 40px;
}

.progress {
  height: 16px;
}

.vote-bar {
  margin-bottom: 8px;
}
