<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GitLab Theme Call</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="https://fatihacet.gitlab.io/gitlab-theme-call/css/main.css">
</head>
<body>
  <div id="voting" class="container">
    <div class="columns">
      <div class="column col-9">
        <header class="navbar">
          <section class="navbar-section">
            <img src="https://assets.gitlab-static.net/uploads/-/system/project/avatar/7424125/tanuki.png" width="32" class="show-xs" />
            <a href="https://about.gitlab.com/handbook/engineering/frontend/#frontend-themed-call" class="btn btn-link">FE Themed Call Submissions</a>
          </section>
          <section class="navbar-center">
            <img src="https://assets.gitlab-static.net/uploads/-/system/project/avatar/7424125/tanuki.png" width="32" class="hide-xs" />
          </section>
          <section class="navbar-section hide-xs">
            <a href="https://fatihacet.gitlab.io/gitlab-theme-call/gitlab-theme-call/submit/" class="btn btn-link">Submit</a>
          </section>
        </header>
        <p class="show-xs">
          <a href="https://fatihacet.gitlab.io/gitlab-theme-call/gitlab-theme-call/submit/" class="btn btn-link pl-0">Submit</a>
        </p>
      </div>

      <div class="column col-9">
        <div v-if="isLoading" class="loading loading-lg mt-2"></div>
        <div v-else v-cloak>
          <div class="votes-container">
            <div v-for="(count, handle) in votes" :key="handle" class="vote-bar">
              <span><mark>@{{ handle }}</mark> ({{ count }})</span>
              <progress class="progress" :value="count" :max="totalVotes"></progress>
            </div>
          </div>
          <div class="submissions" v-cloak>
            <voting
              v-for="(submission, itemIndex) in submissions"
              :key="submission.handle"
              :submission="submission"
              :is-voted="isVoted"
              @voted="handleVote"
            ></voting>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://fatihacet.gitlab.io/gitlab-theme-call/js/data.js"></script>
  <script src="https://fatihacet.gitlab.io/gitlab-theme-call/js/firebase.js"></script>
  <script src="https://fatihacet.gitlab.io/gitlab-theme-call/js/Voting.js"></script>
</body>
</html>
