<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GitLab Theme Call</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="https://fatihacet.gitlab.io/gitlab-theme-call/css/main.css">
</head>
<body>
  <div id="app" class="container">
    <div class="columns">
      <div class="column col-9">
        <header class="navbar">
          <section class="navbar-section">
            <img src="https://assets.gitlab-static.net/uploads/-/system/project/avatar/7424125/tanuki.png" width="32" class="show-xs" />
            <a href="https://about.gitlab.com/handbook/engineering/frontend/#frontend-themed-call" class="btn btn-link">FE Themed Call Submissions</a>
          </section>
          <section class="navbar-center">
            <img src="https://assets.gitlab-static.net/uploads/-/system/project/avatar/7424125/tanuki.png" width="32" class="hide-xs" />
          </section>
          <section class="navbar-section hide-xs">
            <a href="https://fatihacet.gitlab.io/gitlab-theme-call/vote/" class="btn btn-link">Results</a>
            <a href="https://fatihacet.gitlab.io/gitlab-theme-call/submit/" class="btn btn-link">Submit</a>
          </section>
        </header>
        <p class="show-xs">
          <a href="https://fatihacet.gitlab.io/gitlab-theme-call/submit/" class="btn btn-link pl-0">Submit</a>
        </p>
      </div>

      <div class="column col-9">
        <div v-if="isLoading" class="loading loading-lg mt-2"></div>
        <div v-else>
          <div class="submissions" v-cloak>
            <submission
              v-for="(submission, itemIndex) in submissions"
              v-show="itemIndex === index"
              :key="submission.handle"
              :submission="submission"
            ></submission>
            <ul class="pagination">
              <li
                @click="prev"
                class="page-item" :class="{ disabled: index === 0 }">
                <a href="#" tabindex="-1">Previous</a>
              </li>
              <li
                v-for="(submission, i) in submissions"
                :key="i"
                :class="{ active: i === index }"
                class="page-item"
              >
                <a @click="index = i" href="#">{{ i + 1 }}</a>
              </li>
              <li
                @click="next"
                class="page-item" :class="{ disabled: index + 1 === submissions.length }">
                <a href="#">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://fatihacet.gitlab.io/gitlab-theme-call/js/data.js"></script>
  <script src="https://fatihacet.gitlab.io/gitlab-theme-call/js/firebase.js"></script>
  <script src="https://fatihacet.gitlab.io/gitlab-theme-call/js/Submission.js"></script>
  <script src="https://fatihacet.gitlab.io/gitlab-theme-call/js/index.js"></script>
</body>
</html>
